.task {
  width: 260px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  font-size: large;
  margin: 10px;
  border: none;
  flex-direction: column;
  border-radius: 25px;
  overflow-wrap: anywhere;
  padding: 5px;
  box-sizing: border-box;
}
.task:hover {
  background-color: #eee;
}

.wrapEdit > select {
  width: 75px;
  border-radius: 15px;
  color: white;
  background-color: blue;
} 
 .delBtn{
  width: 20px;
  height: 20px;
  background:none;
  border: none;
  position: fixed;
  margin-top: -25px;
  margin-left: -5px;
  cursor: pointer;
}
