:root {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  
  
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}
