.firstPage {
  width:1520px;
  height:750px;
  margin: 0px;
  padding: 0px;
  background: none;
  background-color: #cccccc;
  background-image: url("https://www.qentelli.com/sites/default/files/custom-upload/What%20is%20Digital%20Transformation.png");
}
